.card {
  padding: 25px;
}

.box {
  list-style-type: none;
}

/* .delete:focus, .delete:focus, [type="submit"]:focus {
  outline: none;
} */

a .save:focus {
  outline: none;
  box-shadow: none;
}

a .delete:focus {
  outline: none;
  box-shadow: none;
}
